:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  padding: 2rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  margin-top: 2em;
  border: 1px solid #555;
  border-radius: 8px;
}

.message-container {
  margin-top: 1.5em;
  padding: 1em;
  background-color: #333;
  border-radius: 8px;
}

input[type="text"], input[type="number"] {
  padding: 0.5em;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
}

label {
  margin-right: 10px;
}